@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;300;400;500;600;700;800;900&family=Public+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

header {
    width: 100%;
    background-color: #101010;

    padding: 10px 20px;

    position: fixed;
    top: 0;
    z-index: 999;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.navbar {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hamburguer {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    display: none;
    border-radius: 10%;
    position: relative;
}

.hamburguer:after {
    content: '';

    position: absolute;
    top: 30%;
    left: 15%;

    width: 70%;
    height: 10%;

    border-radius: 20px;


    background-color: #fff;

    transition: 1s ease;
}

.hamburguer:before {
    content: '';

    position: absolute;
    top: 60%;
    left: 45%;

    width: 40%;
    height: 10%;

    border-radius: 20px;


    background-color: #fff;
    transition: 1s ease;
}

#hamburguer:checked~label .hamburguer:after {
    transform: rotate(225deg);

    top: 40%;
    left: 15%
}

#hamburguer:checked~label .hamburguer:before {
    transform: rotate(-225deg);

    width: 70%;
    height: 10%;

    top: 40%;
    left: 15%
}

.menu {
    list-style: none;

    display: flex;
    align-items: center;

    li {
        margin-left: 10px;

        #cart {
            color: #fff;
        }

        a {
            display: block;
            padding: 10px 15px;
            text-decoration: none;

            font-family: 'Archivo';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0.02em;
            color: #4B5567;
            transition: 0.5s ease;

            &hover {
                color: #07617D;
            }
        }
    }
}

@media screen and (max-width: 980px) {
    .hamburguer {
        display: block;
        z-index: 999;
    }

    .menu {
        position: fixed;
        top: 0;
        right: 0;

        height: 100vh;
        margin: 0;
        background-color: #222;

        width: 100%;
        max-width: 250px;
        padding: 100px 20px;

        flex-direction: column;


        transition: 0.5s ease;
    }

    .menu.active {
        right: -100%;
    }
}

.carousel {
    max-width: 1200px;
    width: 1200px;
    margin: 0 auto;
    margin-top: 7.9vh;

    .carousel__content {
        position: relative;
    }

    .carousel__anterior,
    .carousel__seguinte {
        position: absolute;
        display: block;
        width: 30px;
        height: 30px;
        border: none;
        top: calc(50% - 35px);
        cursor: pointer;
        line-height: 30px;
        text-align: center;
        background: none;
        color: #000;
        opacity: 20%;
    }

    .carousel__anterior,
    .carousel__seguinte:hover {
        opacity: 100%;
    }

    .carousel__lista {
        overflow: hidden;
    }

    .carousel__anterior {
        left: -30px;
    }

    .carousel__seguinte {
        right: -30px;
    }
}

.section-more-sale {
    margin-top: 5vh;

    h1 {
        text-align: center;
        font-family: 'Public Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 2rem;
        line-height: 20px;
        color: #4B5567;

    }

    .cards {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 5vh;
    }

    .card {
        background: #F5F5F5;
        border-radius: 10px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: flex-start;
        padding: 5px;

        .titulo {
            font-family: 'Public Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 1rem;
            line-height: 28px;
            letter-spacing: -0.4px;
            color: #000000;
        }

        .preco {
            font-family: 'Public Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 0.9rem;
            line-height: 28px;
            letter-spacing: -0.4px;
            color: #000000;
        }

        button {
            cursor: pointer;
            background: #000;
            color: #fff;
            padding: 5px;
            margin: 0 auto;
            box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15);
        }
    }

}

.section-sneakers {
    margin-top: 5vh;

    h1 {
        text-align: center;
        font-family: 'Public Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 2rem;
        line-height: 20px;
        color: #4B5567;

    }

    .cards {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 5vh;
    }

    .card {
        background: #F5F5F5;
        border-radius: 10px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: flex-start;
        padding: 5px;

        .titulo {
            font-family: 'Public Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 1rem;
            line-height: 28px;
            letter-spacing: -0.4px;
            color: #000000;
        }

        .preco {
            font-family: 'Public Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 0.9rem;
            line-height: 28px;
            letter-spacing: -0.4px;
            color: #000000;
        }

        button {
            cursor: pointer;
            background: #000;
            color: #fff;
            padding: 5px;
            margin: 0 auto;
            box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15);
        }
    }

}

footer {
    margin-top: 10vh;
    background-color: #101010;

    .flex {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 30px 0px;

        ul {
            list-style: none;
        }

        .list {
            h1 {
                font-family: 'Archivo';
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 26px;
                color: #fff;
                padding: 10px 0px;
            }

            li a {
                padding: 15px 0px;
                font-family: 'Archivo';
                font-style: normal;
                font-weight: 300;
                font-size: 16px;
                line-height: 20px;
                letter-spacing: 0.02em;
                color: #4B5567;

            }

            .form {
                display: flex;
                align-items: center;
                flex-direction: column;

                #email {
                    background: transparent;
                    border: 1px solid #07617D;
                    border-radius: 10px;
                    padding: 10px;
                    color: #fff;
                }

                #buton {
                    width: 100%;
                    border-radius: 10px;
                    background: #07617D;
                    padding: 10px 0px;
                    margin-top: 1vh;
                }
            }
        }
    }
}